<footer class="bg-dark text-center text-white footer w-100" style="background-color: #A350A3;">
  <!-- Grid container -->
  
  <div class="container-fluid p-4 pb-0"  style="background-color: #A350A3;">
    <!-- Section: Social media -->
    
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/mustafa.elgohary.961" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/MustafaSalah79" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCIn4wNClF9gpRNF5BW9CceA" role="button"><i class="fab fa-youtube"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/mustafa22101970/" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mustafa-elgohary-9b6081180/" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Mustafa21266" role="button"><i class="fab fa-github"></i></a>
    </section>
    <div class="text-center p-3" style="background-color: #A350A3;">
      Contact The Developer
     </div>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #A350A3;">
    © 2020 Copyright:
    <a class="text-white" routerLink="/homepage">Etak Start</a>
  </div>
  <!-- Copyright -->
</footer>