
<div class="row row-background">
  <div class="col-12 animate__animated animate__fadeIn  animate__delay-1s" style="padding: 0px;">
      <input id="changeCoverId" type="file" (change)="onCoverSelected($event)" required>
  
        <img id="coverForCyber" class="img-fluid cover" src="https://etak-start.s3.eu-west-3.amazonaws.com/media/default_cover.png" alt="Card image cap">
        <a class="btn btn-secondary change-cover-btn"  (click)="onClickChangeCyberCover()" type="button">Change Cover</a>
  </div>
</div>
  <div class="row row-background">
    <div class="col-12  animate__animated animate__fadeIn  animate__delay-1s">
      <input id="changeLogoId" type="file" (change)="onLogoSelected($event)">
      <img id="logoForCyber"class="img-fluid cyber-logo" (click)="onClickChangeCyberLogo()" src="https://etak-start.s3.eu-west-3.amazonaws.com/media/default_cover.png" alt="Card image cap">
      <div class="add-cyber-div">
      <br>
      <br>
      <br>
      <h1 class="create-cyber-header input-white">Create Cyber</h1>
      <hr class="my-4"> 
      <app-loading-widget *ngIf="spinner" [spinner]="spinner"></app-loading-widget>
      </div>
      <form [formGroup]="cyberForm"id="platfromListDiv" enctype="multipart/form-data">
        <div class="form-row">
          <div class="form-group col-12 col-lg-8 d-block mx-auto">
            <mat-form-field appearance="fill" class="form-field-styles">
              <mat-label class="input-white">Cyber Name:</mat-label>
              <input matInput type="text" formControlName="name" class="input-white" required>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="form-group col-12 col-lg-12">
        <br>
        <div id="map"></div>
        <br>
        <br>
      </div>
    </div>
        <div class="form-row d-flex justify-content-center">
          <div class="form-group col-12 col-lg-4">
            <mat-form-field appearance="fill" class="form-field-styles">
              <mat-label class="input-white">Cyber Location:</mat-label>
              <input matInput id="location" type="text" formControlName="location"  class="input-white" required>
            </mat-form-field>
          </div>
          <div class="form-group col-12 col-lg-4">
            <mat-form-field appearance="fill" class="form-field-styles" required>
              <mat-label class="input-white">Pick a Governate</mat-label>
                <mat-select [(value)]="governate" formControlName="governate" required>
                    <mat-option *ngFor="let governate of governates" [value]="governate.value">
                        {{governate.value}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-lg-12 d-flex justify-content-center">
            <br>
            <button mat-raised-button style="background-color: #fea82f;" id="findBtn" type="button"  class="find-btn" (click)="onClickFind($event)">Find</button>
            <button mat-raised-button style="background-color: #fea82f;" type="button"  class="thats-it-btn" (click)="onClickThatsIt($event)">That's it</button>
            <br>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-field-styles" required>
          <mat-label class="input-white">Working Days Start</mat-label>
            <mat-select [(value)]="startingWorkingDay" formControlName="starting_working_day" required>
                <mat-option *ngFor="let day of days" [value]="day.value">
                    {{day.value}}
                  </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-field-styles" required>
          <mat-label class="input-white">Working Days End</mat-label>
            <mat-select [(value)]="endingWorkingDay" formControlName="ending_working_day" required>
                <mat-option *ngFor="let day of days" [value]="day.value">
                    {{day.value}}
                  </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>
        
    <div class="form-row">
      <div class="form-group col-6 col-lg-3">
        <mat-form-field appearance="fill" class="form-field-styles">
          <mat-label class="input-white">Opens at:</mat-label>
          <input matInput type="time" formControlName="starting_working_hour" id="starting_working_hour" class="input-white without_ampm" required>
        </mat-form-field>

      </div>
      <div class="form-group col-6 col-lg-3">
        <mat-form-field appearance="fill" class="form-field-styles">
          <mat-label class="input-white">AM/PM</mat-label>
            <mat-select [(value)]="opensAtSelect" formControlName="opensAtSelect" required>
                <mat-option value="AM">AM</mat-option>
                <mat-option value="PM">PM</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-6 col-lg-3">
        <mat-form-field appearance="fill" class="form-field-styles">
          <mat-label class="input-white">Closes at:</mat-label>
          <input matInput  type="time" formControlName="ending_working_hour" id="ending_working_hour" class="input-white without_ampm" required>
        </mat-form-field>
      </div>
      <div class="form-group col-6 col-lg-3">
        <mat-form-field appearance="fill" class="form-field-styles">
          <mat-label class="input-white">AM/PM</mat-label>
            <mat-select [(value)]="closesAtSelect" formControlName="closesAtSelect" required>
                <mat-option value="AM">AM</mat-option>
                <mat-option value="PM">PM</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>
        <div class="form-row">
          <div class="form-group col-12">
            <mat-form-field appearance="fill" class="form-field-styles">
              <mat-label class="input-white">Description:</mat-label>
              <textarea matInput type="text" formControlName="description" rows="8"  class="input-white"></textarea>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <div class="col-12">
              <label class="cyber-images-lbl input-white">Cyber Images:</label>
              <div id="cyberPicturesDiv">
              
              </div>
              <br>
        <a mat-raised-button style="background-color: #fea82f;" class="add-btn-cyber-images" (click)="addCyberPicture($event)">Add</a>
              <input id="cyberImagesId" multiple type="file" (change)="onCyberPicturesSelected($event)" style="visibility: hidden;">
              <ul id="cyberPicturesOrderedList" style="list-style: none;">
                <!-- <li *ngFor="let cyberPictureText of CyberPicturesTextList">{{cyberPictureText}}<a (click)="deleteCyberPicture($event)" class="cyber-pics-a-styling">&#10006;</a></li> -->
              </ul>
            </div>
        </div>
        <br>
        
      
        <div class="form-row">
            <div class="form-group col-12 col-lg-9">
              <select name="platformsList" class="input-white" id="platformsList">
                <option value="" disabled selected>Select a platform</option>
                <option value="ps3">Playstation 3</option>
                <option value="ps4">Playstation 4</option>
                <option value="ps5">Playstation 5</option>
                <option value="xbox_360">Xbox 360</option>
                <option value="xbox_one">Xbox One</option>
                <option value="xbox_series_x">Xbox Series X</option>
                <option value="pc">PC</option>
                <option value="vr">VR</option>
                <option value="billards">Billards</option>
                <option value="ping_pong">Ping Pong</option>
              </select>
              
            </div>
                  <div class="form-group col-12 col-lg-3">
                          <button id="platformListAddBtn" mat-raised-button style="background-color: #fea82f;" type="button" (click)="createSelectedPlatform()">Add</button>
                        </div>
                        
                        <h4 class="selected-platforms-style input-white">Selected Platforms:</h4>
      </div>
        <div id="createCyberBtn" class="form-row">
          <div class="form-group col-12">
            <button mat-raised-button style="background-color: #fea82f;" type="submit"  class="create-btn" (click)="AddCyberOnSubmit()">Create</button>
            <app-loading-widget *ngIf="spinner" [spinner]="spinner" style="position: absolute;right: 10px;top: 10px;"></app-loading-widget> 
            <br>
            <br>
            <br>
          </div>
          
        </div>
      </form>
    </div>
  </div>



  
