
<div class="row row-styling">

    <div class="col-12 col-lg-6 mx-auto">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-left">Reset password</h1>
        <hr>
    </div>
</div>
<div class="row row-styling">
  <app-loading-widget *ngIf="spinner" [spinner]="spinner"></app-loading-widget>
    <div class="col-12 col-lg-6 mx-auto">
        <form [formGroup]="resetPasswordForm" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group col-12 col-lg-12">
                  <p>Enter your email to recieve the reset link</p>
                <mat-form-field appearance="fill" class="form-field-styles">
                  <mat-label class="email">Email:</mat-label>
                  <input matInput type="email" formControlName="email" class="email-input" required>
                </mat-form-field>
              </div>
            </div>
            <br>
            <br>
            <div id="createCyberBtn" class="form-row mr-auto">
              <div class="form-group col-12 mx-auto d-flex justify-content-center">
                <button mat-raised-button color="primary" type="submit"  class="send-mail-btn" (click)="onSubmit($event)">Send Email</button>
              </div>
              
            </div>
          </form>
    </div>
</div>