.row-styling {
    background-color: #373833;
}
.form-field-styles {
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
.email {
    color:black;
}
.email-input {
    color:white;
}
.send-mail-btn {
    font-size: 24px;
    padding: 5px 20px;
}