
  <!-- <app-slideshow *ngIf="this.router.url === '/sign-up' || this.router.url === '/log-in'"></app-slideshow>
  <app-app-slideshow></app-app-slideshow> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="padding: 0px;">
  <router-outlet name="nav-bar"></router-outlet>
</div>
</div>
</div>
  <div class="container-fluid">
   
    <div class="row w-100 d-block mx-auto" style="height: 100%;">
      <div class="col-12" style="padding: 0px;height: 100%;">
        
        <router-outlet (activate)='onActivate($event)' style="height: 100%;"></router-outlet>
       
      </div>
      
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="padding: 0px;">
      <router-outlet *ngIf="this.router.url !== '/'" name="footer"></router-outlet> 
</div>
</div>
</div>

