.reset-password-header {
    text-align: center;
    color: black;
}
.row-background{
    background-color: #373833;
  }
.form-field-styles {
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
  }
.input-black{
    color :black;
}
.input-white {
    color:white;
}
.confirm-btn{
    font-size: 24px;
    padding: 5px 20px;
}