/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 'Righteous', "Helvetica Neue", sans-serif;
    /* font-family: 'Righteous', cursive; */
    letter-spacing: 2px;
    /* font-family: Roboto; */
    background-color: #0F0C24;
}

/* .app-root {
    background-image: linear-gradient(360deg,rgb(31, 40, 51) ,rgb(11, 12, 16) );

} */
h1 ,h2, h3 ,h4 ,h5 {
    color: white;
  }

p{
    color: white;
}
.footer {
    background-image: linear-gradient(200deg,rgb(31, 40, 51) ,rgb(11, 12, 16) );
}
